* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#76b852;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}


#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}


#contact input[type="text"]{
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:2px;
	padding:10px;
}

#contact input[type="submit"] {
	cursor:pointer;
	width:48%;
	border:none;
        background:#6dae07;
	
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
#contact input[type="reset"] {
	cursor:pointer;
	width:48%;
	border:none;
	background:#194D33;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
#contact input:focus {
	outline:0;
	border:1px solid #999;
}
